@import url(https://cdn.jsdelivr.net/npm/firacode@6.2.0/distr/fira_code.css);

/* @supports (font-variation-settings: normal) {
  html { font-family: 'Fira Code VF', monospace; }
} */

html, #app {
    width: 100vw;
    height: 100vh;
    font-family: 'Fira Code', monospace;
    font-size: clamp(8px, 1.9vw, 18px); 
}

body {
    margin: 0;
    padding: 0;
}

:root {
    /* 
      RESURRECT 64 Color Scheme
      Created by Kerrie Lake 

      extracted from 
      https://lospec.com/pixel-editor/
    */
    --res64-dark-grey-900: #2e222f;
    --res64-dark-grey-700: #3e3546;
    --res64-dark-grey-500: #625565;
    --res64-dark-grey-300: #966c6c;
    --res64-dark-grey-100: #ab947a;

    --res64-grey-900: #694f62;
    --res64-grey-700: #7f708a;
    --res64-grey-500: #9babb2;
    --res64-grey-300: #c7dcd0;
    --res64-grey-100: #ffffff;

    --res64-red-900: #6e2727;
    --res64-red-700: #b33831;
    --res64-red-500: #ea4f36;
    --res64-red-300: #f57d4a;

    --res64-orange-900: #ae2334;
    --res64-orange-700: #e83b3b;
    --res64-orange-500: #fb6b1d;
    --res64-orange-300: #f79617;
    --res64-orange-100: #f9c22b;

    --res64-dark-orange-900: #7a3045;
    --res64-dark-orange-700: #9e4539;
    --res64-dark-orange-500: #cd683d;
    --res64-dark-orange-300: #e6904e;
    --res64-dark-orange-100: #fbb954;

    --res64-yellow-900: #4c3e24;
    --res64-yellow-700: #676633;
    --res64-yellow-500: #a2a947;
    --res64-yellow-300: #d5e04b;
    --res64-yellow-100: #fbff86;

    --res64-green-900: #165a4c;
    --res64-green-700: #239063;
    --res64-green-500: #1ebc73;
    --res64-green-300: #91db69;
    --res64-green-100: #cddf6c;

    --res64-dark-green-900: #313638;
    --res64-dark-green-700: #374e4a;
    --res64-dark-green-500: #547e64;
    --res64-dark-green-300: #92a984;
    --res64-dark-green-100: #b2ba90;

    --res64-teal-900: #0b5e65;
    --res64-teal-700: #0b8a8f;
    --res64-teal-500: #0eaf9b;
    --res64-teal-300: #30e1b9;
    --res64-teal-100: #8ff8e2;

    --res64-blue-900: #323353;
    --res64-blue-700: #484a77;
    --res64-blue-500: #4d65b4;
    --res64-blue-300: #4d9be6;
    --res64-blue-100: #8fd3ff;

    --res64-purple-900: #45293f;
    --res64-purple-700: #6b3e75;
    --res64-purple-500: #905ea9;
    --res64-purple-300: #a884f3;
    --res64-purple-100: #eaaded;

    --res64-dark-pink-900: #753c54;
    --res64-dark-pink-700: #a24b6f;
    --res64-dark-pink-500: #cf657f;
    --res64-dark-pink-300: #ed8099;

    --res64-pink-900: #831c5d;
    --res64-pink-700: #c32454;
    --res64-pink-500: #f04f78;
    --res64-pink-400: #f68181;
    --res64-pink-200: #fca790;
    --res64-pink-100: #fdcbb0;
    
    
    --pgnwr-fg-box: var(--res64-orange-500);
    --pgnwr-fg-logo: var(--res64-orange-300);
    --pgnwr-fg-alt: var(--res64-purple-300);
    --pgnwr-bg-page: var(--res64-dark-grey-900);
    --pgnwr-bg-body: #141314;
    --pgnwr-bg-header: var(--res64-dark-grey-900);
  }
  
.row {
    display: flex;
    flex-flow: row;
}
.col {
    display: flex;
    flex-flow: column;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--pgnwr-bg-body);
    overflow-x: hidden;

}  

#app {
    align-content: center;
    overflow-y: scroll;
    
}

#page {
    position: relative;
    margin: auto;
    /* width:  */
    width: 84ch;

    box-sizing: border-box;
    -moz-box-sizing: border-box;
    white-space: nowrap;
    overflow-x:hidden;
    background-color: var(--pgnwr-bg-page);
    display: flex;
    flex-flow: column;
}

.section
{
    display: inline-flex;
    flex-flow: row;
}

/* .col {
    flex-flow: column;
} */

.col-3 {
    width: 21ch;
}

.col-6 {
    width: 42ch;
}



.heading {
    align-self: center;
    font-weight: 700;
    color: var(--pgnwr-fg-box);
}




.mate {
    margin-left: auto;
    margin-right: auto;
    width: 26ch;
}

.mate > .photo > img {
    width: 26ch;
}
.mate > .name {
    color: var(--pgnwr-fg-logo);
}
.mate > .lead {
    color: var(--pgnwr-fg-box);
}

.mate {
    margin-left: auto;
    margin-right: auto;
    width: 21ch;
}


.service > .icon, .service > .icon > img {
    width: 15ch;
    margin-left: auto;
    margin-right: auto;
}


span.box{
    color: var(--pgnwr-fg-box);
}

#header {
    .nav {
        text-align: right;
        > a{
            color: var(--pgnwr-fg-logo);
        }
        > a:visited{
            
            color: var(--res64-red-700);
        }
        font-weight: 500;
    }
    background-color: var(--pgnwr-bg-header);
}

#logo {
    font-weight: 400;
    color: var(--pgnwr-fg-logo);
}

/* http://aleclownes.com/2017/02/01/crt-display.html */

@keyframes flicker {
    0% {
      opacity: 0.27861;
    }
    5% {
      opacity: 0.34769;
    }
    10% {
      opacity: 0.23604;
    }
    15% {
      opacity: 0.90626;
    }
    20% {
      opacity: 0.18128;
    }
    25% {
      opacity: 0.83891;
    }
    30% {
      opacity: 0.65583;
    }
    35% {
      opacity: 0.67807;
    }
    40% {
      opacity: 0.26559;
    }
    45% {
      opacity: 0.84693;
    }
    50% {
      opacity: 0.96019;
    }
    55% {
      opacity: 0.08594;
    }
    60% {
      opacity: 0.20313;
    }
    65% {
      opacity: 0.71988;
    }
    70% {
      opacity: 0.53455;
    }
    75% {
      opacity: 0.37288;
    }
    80% {
      opacity: 0.71428;
    }
    85% {
      opacity: 0.70419;
    }
    90% {
      opacity: 0.7003;
    }
    95% {
      opacity: 0.36108;
    }
    100% {
      opacity: 0.24387;
    }
  }
  @keyframes textShadow {
    0% {
      text-shadow: 0.4389924193300864px 0 1px rgba(0,30,255,0.5), -0.4389924193300864px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    5% {
      text-shadow: 2.7928974010788217px 0 1px rgba(0,30,255,0.5), -2.7928974010788217px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    10% {
      text-shadow: 0.02956275843481219px 0 1px rgba(0,30,255,0.5), -0.02956275843481219px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    15% {
      text-shadow: 0.40218538552878136px 0 1px rgba(0,30,255,0.5), -0.40218538552878136px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    20% {
      text-shadow: 3.4794037899852017px 0 1px rgba(0,30,255,0.5), -3.4794037899852017px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    25% {
      text-shadow: 1.6125630401149584px 0 1px rgba(0,30,255,0.5), -1.6125630401149584px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    30% {
      text-shadow: 0.7015590085143956px 0 1px rgba(0,30,255,0.5), -0.7015590085143956px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    35% {
      text-shadow: 3.896914047650351px 0 1px rgba(0,30,255,0.5), -3.896914047650351px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    40% {
      text-shadow: 3.870905614848819px 0 1px rgba(0,30,255,0.5), -3.870905614848819px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    45% {
      text-shadow: 2.231056963361899px 0 1px rgba(0,30,255,0.5), -2.231056963361899px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    50% {
      text-shadow: 0.08084290417898504px 0 1px rgba(0,30,255,0.5), -0.08084290417898504px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    55% {
      text-shadow: 2.3758461067427543px 0 1px rgba(0,30,255,0.5), -2.3758461067427543px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    60% {
      text-shadow: 2.202193051050636px 0 1px rgba(0,30,255,0.5), -2.202193051050636px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    65% {
      text-shadow: 2.8638780614874975px 0 1px rgba(0,30,255,0.5), -2.8638780614874975px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    70% {
      text-shadow: 0.48874025155497314px 0 1px rgba(0,30,255,0.5), -0.48874025155497314px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    75% {
      text-shadow: 1.8948491305757957px 0 1px rgba(0,30,255,0.5), -1.8948491305757957px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    80% {
      text-shadow: 0.0833037308038857px 0 1px rgba(0,30,255,0.5), -0.0833037308038857px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    85% {
      text-shadow: 0.09769827255241735px 0 1px rgba(0,30,255,0.5), -0.09769827255241735px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    90% {
      text-shadow: 3.443339761481782px 0 1px rgba(0,30,255,0.5), -3.443339761481782px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    95% {
      text-shadow: 2.1841838852799786px 0 1px rgba(0,30,255,0.5), -2.1841838852799786px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
    100% {
      text-shadow: 2.6208764473832513px 0 1px rgba(0,30,255,0.5), -2.6208764473832513px 0 1px rgba(255,0,80,0.3), 0 0 3px;
    }
  }
  .crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
  }
  .crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
  }
  .crt {
    animation: textShadow 1.6s infinite;
    
  position: absolute;
  top:0;
  /* display: block; */
  /* z-index:-1; // push the sticky element to the back */
  width:100%;
  height:100vh;
  /* border:10px solid #fff; */
  /* overflow:hidden; // if using video */
  /* img, video{
    position: absolute;
    display: block;
    width:100%;
    height:100%;
    object-fit: cover;
    // or use background images on the sticky element if you can't support object-fit
  }  */
  }

  /* width */
::-webkit-scrollbar {
    width: 1ch;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    /* box-shadow: inset 0 0 5px grey;  */
    border-radius: 0px;
    background-color: var(--res64-dark-orange-900); 
    /* border: 1px solid #0b5e65; */
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--res64-dark-orange-700); 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--res64-dark-orange-300); 
  }